.calcurako {
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(86, 210, 214, 0.8);
  width: 315px;
  height: 520px;
  border-radius: 15px;
}

.calcurako-item {
  display: inline-block;
}

.calcurako-item button {
  display: block;
  width: 72px;
  height: 42px;
  font-size: 12px;
}

.calcurako-item input {
  display: block;
  width: 64px;
  height: 36px;
  font-size: 12px;
  text-align: center;
}
